/node_modules
/public/plugin
/public/js
/public/css
/storage/*.key
/vendor
.env.env
.env.prod
.phpunit.result.cache
tsRequest
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dev_load.bat
middleware('auth')
UserFactory.php_•s—v